body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: Prompt;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav ul li a:hover {
    background-color: #555;
}

main {
    position: absolute;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#text {
    display: block;
}

h1 {
    color: white;
    font-family: PromptBold;
    font-size: clamp(40px, 10vw, 72px);
}

h2 {
    color: white;
    font-family: Prompt;
    font-size: clamp(20px, 10vw, 40px);
}

#name {
    background-image: linear-gradient(
        to right,
        #00ff9d,
        #e100ff
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 15px #4400ff);
}

header {
    background-color: rgb(54, 54, 54, 0.7);
    width: fit-content;
    padding: 10px 50px 10px 50px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
p {
    font-family: Inter;
    color: white;
    font-size: 32px;
}

#content {
    margin-left: 50px;
}

@font-face {
    font-family: Prompt;
    src: url("fonts/Prompt-Medium.ttf") format("truetype");
}
@font-face {
    font-family: PromptBold;
    src: url("fonts/Prompt-Bold.ttf") format("truetype");
}
@font-face {
    font-family: UbuntuMono;
    src: url("fonts/UbuntuMono-Regular.ttf") format("truetype");
}
@font-face {
    font-family: UbuntuMonoBoldItalic;
    src: url("fonts/UbuntuMono-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf) format("truetype");
}